version: "3.9"

services:
  postgres:
    image: postgis/postgis:16-3.4
    container_name: toronto_parking_postgis
    restart: unless-stopped
    environment:
      POSTGRES_DB: toronto_parking
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7.4-alpine
    container_name: toronto_parking_redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: ["redis-server", "--save", "", "--appendonly", "no"]
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
