[phases.setup]
nixPkgs = ['nodejs_20', 'git-lfs']

[phases.install]
cmds = [
  'git lfs install',
  'git lfs pull',
  'cd map-app && npm ci'
]

[phases.build]
cmds = ['cd map-app && npm run build:ssr']

[start]
cmd = 'cd map-app && npm start'
