[phases.setup]
nixPkgs = ['nodejs_20']

[phases.install]
cmds = [
  # Install dependencies
  # Note: Split GeoJSON chunks are committed to Git and will be merged at runtime
  'cd map-app && npm ci'
]

[phases.build]
cmds = ['cd map-app && npm run build:ssr']

[start]
cmd = 'cd map-app && npm start'
